<div class="container">
<h2>ユーザ情報編集</h2>


<%= form_for(@user,url:user_path(@user)) do |f| %>
	<div class="row">
		<div class="col-md-6">
			<%= attachment_image_tag(@user,:image,size:"200x200", class: "user_image", fallback: "no_image.jpg") %>
			<%= f.attachment_field :image,id:"user_image_preview" %>
		</div>
		<div class="col-md-6">
			<div class="field">
				<%= f.label "名前" %>
				<%= f.text_field :name,class: "form-control" %>
				<% if @user.errors.include?(:name) %>
	    			<span style="color: red;"><%= @user.errors.full_messages_for(:name).first %></span>
				<% end %>
			</div>
			<div class="field">
				<%= f.label "出身" %>
				<%= f.country_select :country,{ priority_countries:["JP"]}, autofocus: true, format: :with_alpha2, autocomplete: "country",class: "form-control" %>
				<% if @user.errors.include?(:country) %>
	    			<span style="color: red;"><%= @user.errors.full_messages_for(:country).first %></span>
				<% end %>
			</div>
			<div class="field">
				<%= f.label "メールアドレス" %>
				<%= f.email_field :email,class: "form-control" %>
				<% if @user.errors.include?(:email) %>
	    			<span style="color: red;"><%= @user.errors.full_messages_for(:email).first %></span>
				<% end %>
			</div>
			<%= f.submit "編集する",class: "form-control" %>
		</div>
	</div>
<% end %>

<%= link_to "詳細に戻る",user_path(@user) %>
</div>