<div class="container">
	<h2>パスワード変更</h2>

	<%= form_for(@user,url:user_path(@user)) do |f| %>
	<div class="col-md-6">
		<div class="field">
			<%= f.label 'パスワード変更' %>
			<%= f.password_field :password, autocomplete: "password",class: "form-control" %>
		</div>
		<div class="field">
		    <%= f.label 'パスワード変更確認' %>
		    <%= f.password_field :password_confirmation, autocomplete: "password",class: "form-control" %>
		</div>
		<div class="submit">
	    	<%= f.submit "変更する",class: "btn" %>
	    </div>
	</div>
	<% end %>
</div>