<h2>パスワード変更</h2>

<%= form_for(@user,url:user_path(@user)) do |f| %>
	<%= f.password_field :password, autocomplete: "password" %>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "password" %>
    <%= f.submit "変更する" %>
<% end %>