<div class="container user_show">
<div class="page-sub-title">マイページ</div>

<div class="page-sub-title">ユーザ情報</div>

<div class="row user-detail-box">
	<div class="col-md-3">
		<!-- ユーザ情報 -->
		<%= attachment_image_tag(@user,:image,size:"150x150", class: "user_image", fallback: "no_image.jpg") %>
	</div>
	<div class="col-md-8">
		<div class="row user-detail">
			<div class="col-md-6">
				<p>ユーザ名:<%= @user.name %></p>
			</div>
			<% if @user == current_user %>
				<div class="col-md-6">
					<%= link_to "ユーザ情報編集", edit_user_path(@user.id),class: "btn btn-primary user-detail-button" %>
				</div>
				<div class="col-md-6">
					<%= link_to "パスワード変更", password_path(@user.id),class: "btn btn-primary user-detail-button" %>
				</div>
				<div class="col-md-6">
					<%= link_to "旅行の設定", schedules_path,class: "btn btn-primary user-detail-button" %>
				</div>
				<div class="col-md-6">
					<%= link_to "行きたい一覧",good_place_path,class: "btn btn-primary user-detail-button" %>
				</div>
				<div class="col-md-6">
					<%= link_to "いいね一覧",favorite_path,class: "btn btn-primary user-detail-button" %>
				</div>
			<% else %>
			<% end %>
		</div>
	</div>
</div>

<div class="page-sub-title">投稿一覧</div>
	<%= render '/user/posts/post_index', {posts: @posts} %>
</div>