<div class="text-center">
	<div class="home-top row align-items-center">
		<div class="top-content col-md-8 offset-md-2 col-sm-12">
			<div class="main-title">次の旅行を探してみませんか？</div>
			<div class="sub-title">
			当サイトは、旅行特化型のSNSになっています。次に行きたい場所を探したり、 <br>
			旅行の思い出を投稿することができます。詳しくは、aboutに掲載しています。</div>
			<div class="top-content-button">
				<%= link_to "Login",new_user_session_path,class: "btn btn-primary" %>
				<%= link_to "Sign up",new_user_registration_path,class: "btn btn-success" %>
			</div>
		</div>
	</div>

	<div class="container">
	<div class="about" id="about">
		<div class="main-title">NextTripとは?</div>
		<div class="sub-content">旅行特化型のSNSです。以下のようなサービスを利用することができます。</div>
		<div class="about-detail">
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%= image_tag("share-image.jpg") %>
					</div>
				</div>
				<div class="col-md-8">
					<div class="share-trip">
						<div class="content-title">1.旅行の写真の共有</div>
						<p>
							写真を選択、タイトルと場所等を投稿することで,世界中の人に旅を共有することができます。いつでも、どこにいても写真・思い出の共有をすることができます。
						</p>
						<%= link_to "さっそく共有してみる",new_user_registration_path,class: "btn btn-primary about-button" %>
					</div>
				</div>
			</div>
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%= image_tag("sharch-image.jpg") %>
					</div>
				</div>
				<div class="col-md-8">
					<div class="search-trip">
						<div class="content-title">2.旅行先の検索</div>
						<p>
							いきたい旅行先を探すことができます。他の人の旅行先、人気なスポットを見てみて、
							いきたい場所を探してみましょう。いきたい場所リストも作成することもできます。
						</p>
						<%= link_to "さっそく探してみる",new_user_registration_path,class: "btn btn-primary about-button" %>
					</div>
				</div>
			</div>
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%= image_tag("calender-image.jpg") %>
					</div>
				</div>
				<div class="col-md-8">
					<div class="schedule-trip">
						<div class="content-title">3.旅行予定の管理</div>
						<p>
							旅行の予定を入力することで、予定の管理ができます。あと、何日で旅行なのかがわかります。
							日程を把握し、旅行へのモチベーションを高めましょう。
						</p>
						<%= link_to "さっそく予定を立てる",new_user_registration_path,class: "btn btn-primary about-button" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 人気投稿 -->
	<div id="ranking">
		<div class="rank-post">
		<h2>人気投稿</h2>
			<div class="row">
				<% @ranks.each do |rank| %>
					<div class="col-lg-3 col-md-6 post-box">
						<div class="post-content">
							<%= link_to post_path(rank) do %>
								<div class="content-top">
									<div class="slick_index">
										<% rank.post_images.each do |image| %>
											<div class="slick_index_image">
												<%= attachment_image_tag(image,:image ,:fill ,200,200) %>
												<div class="post-favorite">
													<i class="fas fa-heart" style="color: red;"></i>
													<%= rank.favorites.count %>
												</div>
											</div>
										<% end %>
									</div>
								</div>
								<div class="content-bottom">
									<div class="post-title">
										<%= rank.title %>
									</div>
									<div class="post_place">
										<span>【場所】</span>
										<% if rank.prefecture.present? %>
											<%= rank.prefecture %>
										<% else %>
											<%= rank.city %>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>

		<!-- 投稿 -->
		<div class="new-post">
			<h2>新規投稿</h2>
			<div class="row">
				<% @posts.first(4).each do |post| %>
					<div class="col-lg-3 col-md-6 post-box">
						<div class="post-content">
							<%= link_to post_path(post) do %>
								<div class="content-top">
									<div class="slick_index">
										<% post.post_images.each do |image| %>
											<div class="slick_index_image">
												<%= attachment_image_tag(image,:image ,:fill ,200,200) %>
												<div class="post-favorite">
													<i class="fas fa-heart" style="color: red;"></i>
													<%= post.favorites.count %>
												</div>
											</div>
										<% end %>
									</div>
								</div>
								<div class="content-bottom">
									<div class="post-title">
										<%= post.title %>
									</div>
									<div class="post_place">
										<span>【場所】</span>
										<% if post.prefecture.present? %>
											<%= post.prefecture %>
										<% else %>
											<%= post.city %>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- お知らせ一覧 -->
	<table class="table table-hover border offset-md-2 col-md-8">
		<h2>お知らせ</h2>
		<thead>
			<tr>
				<th>タグ</th>
				<th>タイトル</th>
				<th>アップデート日時</th>
			</tr>
		</thead>
		<tbody>
			<% @notices.each do |notice| %>
			<tr>
				<td>
					<% if notice.notice_tag == true %>
						<label class="notice_tag_true">重要な情報</label>
					<% else %>
						<label class="notice_tag_false">アップデート情報</label>
					<% end %>
				</td>
				<td>
					<%= link_to notice.title,notice_path(notice) %>
				</td>
				<td>
					<%= notice.updated_at.strftime("%Y-%m-%d") %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @notices %>
	<div id="top-scroll">
		<a href="#page-top-link" id="page-top"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
	</div>
</div>
</div>