<div class="text-center">
	<div class="home-top row align-items-center">
		<div class="top-content col-md-8 offset-md-2 col-sm-12">
			<div class="main-title">次の旅行を探してみませんか？</div>
			<div class="sub-content">
			当サイトは、旅行特化型のSNSになっています。次に行きたい場所を探したり、 <br>
			旅行の思い出を投稿することができます。詳しくは、aboutに掲載しています。</div>
			<div class="top-content-button row">
				<%= link_to "Login",new_user_session_path,class: "btn btn-primary offset-sm-1 col-sm-10 offset-md-2 col-md-3 login_button content-top-margin_10" %>
				<%= link_to "Sign up",new_user_registration_path,class: "btn btn-success offset-sm-1 col-sm-10 offset-md-2 col-md-3 signup_button content-top-margin_10" %>
			</div>
		</div>
	</div>

	<div class="container">
	<div class="about" id="about">
		<div class="main-title">Next-Tripとは?</div>
		<div class="sub-content">旅行特化型のSNSです。以下のようなサービスを利用することができます。</div>
		<div class="about-detail">
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%=image_tag asset_path("share-image.jpg") %>
					</div>
				</div>
				<div class="col-md-8 about-detail-text">
					<div class="share-trip">
						<div class="content-title">1.旅行写真の共有</div>
						<div class="sub-content content-top-margin_10">
							写真を選択、タイトルと場所等を投稿することで,世界中の人に旅行写真を共有することができます。いつでも、どこにいても写真・思い出の共有をすることができます。最大10枚まで投稿することができます。自慢の旅を世界中の人に共有しよう！！
						</div>
						<%= link_to "さっそく共有してみる",new_user_registration_path,class: "btn btn-primary about-button" %>
					</div>
				</div>
			</div>
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%=image_tag asset_path("sharch-image.jpg") %>
					</div>
				</div>
				<div class="col-md-8 about-detail-text">
					<div class="search-trip">
						<div class="content-title">2.旅行先の検索</div>
						<div class="sub-content content-top-margin_10">
							いきたい旅行先を探すことができます。他の人の旅行先、人気なスポットを見てみて、
							いきたい場所を探してみましょう。いきたい場所リストも作成することもできます。
							投稿の並び替え、国名での検索、日本地図からの選択とたくさんの検索機能があります。
							あなたに見つけたい写真・投稿が見つかります。さっそく次の旅の行き先を探してみよう！！
						</div>
						<div class="about-button-box">
							<%= link_to "さっそく探してみる",new_user_registration_path,class: "btn btn-primary about-button" %>
						</div>
					</div>
				</div>
			</div>
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%=image_tag asset_path("calender-image.jpg") %>
					</div>
				</div>
				<div class="col-md-8 about-detail-text">
					<div class="schedule-trip">
						<div class="content-title">3.旅行予定の管理</div>
						<div class="sub-content content-top-margin_10">
							自分だけのカレンダーが搭載されています。旅行の予定を入力することで、予定の管理ができます。あと、何日で旅行なのかがわかります。日程を把握し、旅行へのモチベーションを高めましょう。また、いきたい先リストも作成ができるので、日頃の投稿から旅を計画してみてはいかがでしょうか。さっそく次の旅の計画を立てよう！！
						</div>
						<%= link_to "さっそく予定を立てる",new_user_registration_path,class: "btn btn-primary about-button" %>
					</div>
				</div>
			</div>
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%=image_tag asset_path("map_icon.jpg") %>
					</div>
				</div>
				<div class="col-md-8 about-detail-text">
					<div class="schedule-trip">
						<div class="content-title">4.いきたいリストの作成</div>
						<div class="sub-content content-top-margin_10">
							詳細ページで、<i class="fas fa-globe-asia" style="color: dodgerblue;"></i>地球マークを押すことができます。地球マークを押していただくと、マイページの「いきたい場所リスト」に入ります。日頃から投稿に押していくことでいきたい場所リストが作成することができます。<i class="fas fa-heart" style="color: red;"></i>いいね機能,いいねリストとは別に作成してありますので、使いやすいように使ってください。さっそくいきたいリストを作成しましょう！！
						</div>
						<%= link_to "さっそくいきたいリストを作成する",new_user_registration_path,class: "btn btn-primary about-button" %>
					</div>
				</div>
			</div>
			<div class="about-detail-box row">
				<div class="col-md-4 pl-0 pr-0">
					<div class="share-trip-image">
						<%=image_tag asset_path("admin_comment.jpg") %>
					</div>
				</div>
				<div class="col-md-8 about-detail-text">
					<div class="schedule-trip">
						<div class="content-title">5.不適切投稿の報告</div>
						<div class="sub-content content-top-margin_10">
							不適切な投稿を管理者に報告することができます。詳細ページの管理者に報告を押すと管理者が投稿を確認します。確認後、問題あれば一覧から削除または完全削除されます。一覧から削除であれば、マイページには表示されています。問題がなければ、そのまま一覧ページに表示されるようになります。
						</div>
						<%= link_to "一覧を確認する",new_user_registration_path,class: "btn btn-primary about-button" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 人気投稿 -->
	<div id="ranking">
		<div class="rank-post">
		<h2>人気投稿</h2>
			<div class="row">
			<% @ranks.each do |rank| %>
			<tr>
				<td>
					<div class="col-lg-3 col-md-6 post-box">
						<div class="post-content">
							<%= link_to post_path(rank) do %>
								<div class="content-top">
									<div class="slick_index">
										<% rank.post_images.each do |image| %>
											<div class="slick_index_image">
												<%= attachment_image_tag(image,:image ,:fill ,200,200) %>
											</div>
										<% end %>
									</div>
								</div>
								<div class="content-bottom">
									<div class="post-title">
										<%= rank.title %>
									</div>
									<div class="post_place">
										<% if rank.prefecture.present? %>
											<i class="fas fa-map-marker-alt" style="color: green;"></i><%= rank.prefecture %>
										<% else %>
											<i class="fas fa-map-marker-alt" style="color: green;"></i><%= rank.city %>
										<% end %>
									</div>
									<div class="post-favorite">
										<i class="fas fa-heart" style="color: red;"></i>
										<%= rank.favorites.count %>
										<i class="fas fa-globe-asia" style="color: dodgerblue;"></i>
										<%= rank.good_places.count %>
										<i class="fas fa-comments" style="color: lightslategray;"></i>
										<%= rank.comments.count %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</td>
			</tr>
			<% end %>
			</div>
		</div>

		<!-- 投稿 -->
		<div class="new-post">
			<h2>新規投稿</h2>
			<div class="row">
				<% @posts.first(4).each do |post| %>
					<div class="col-lg-3 col-md-6 post-box">
						<div class="post-content">
							<%= link_to post_path(post) do %>
								<div class="content-top">
									<div class="slick_index">
										<% post.post_images.each do |image| %>
											<div class="slick_index_image">
												<%= attachment_image_tag(image,:image ,:fill ,200,200) %>
											</div>
										<% end %>
									</div>
								</div>
								<div class="content-bottom">
									<div class="post-title">
										<%= post.title %>
									</div>
									<div class="post_place">
										<% if post.prefecture.present? %>
											<i class="fas fa-map-marker-alt" style="color: green;"></i><%= post.prefecture %>
										<% else %>
											<i class="fas fa-map-marker-alt" style="color: green;"></i><%= post.city %>
										<% end %>
									</div>
									<div class="post-favorite">
										<i class="fas fa-heart" style="color: red;"></i>
										<%= post.favorites.count %>
										<i class="fas fa-globe-asia" style="color: dodgerblue;"></i>
										<%= post.good_places.count %>
										<i class="fas fa-comments" style="color: lightslategray;"></i>
										<%= post.comments.count %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- お知らせ一覧 -->
	<table class="table table-hover border offset-md-2 col-md-8">
		<h2>お知らせ</h2>
		<thead>
			<tr>
				<th>タグ</th>
				<th>タイトル</th>
				<th>アップデート日時</th>
			</tr>
		</thead>
		<tbody>
			<% @notices.each do |notice| %>
			<tr>
				<td>
					<%= link_to notice_path(notice) do %>
						<% if notice.notice_tag == true %>
							<label class="notice_tag_true">重要な情報</label>
						<% else %>
							<label class="notice_tag_false">アップデート情報</label>
						<% end %>
					<% end %>
				</td>
				<td>
					<%= link_to notice.title,notice_path(notice) %>
				</td>
				<td>
					<%= notice.updated_at.strftime("%Y-%m-%d") %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div id="top-scroll">
		<a href="#page-top-link" id="page-top"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
	</div>
</div>
</div>