<div class="container">
	<h2>投稿一覧ページ</h2>

	<div data-turbolinks="false">
		<%= link_to "+",new_post_path,class: "btn btn-primary rounded-circle post_new" %>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="search_sort">
			<!-- 一覧ソート機能 -->
			<div class="page-sub-title">並び替え</div>
				<% if @search_products %>
					<%= search_form_for @search, url:posts_path do |f| %>
						<div class="row">
							<div class="col-md-12">
								<%= f.select( :sorts,{並び替え: 'id asc',いいねの多い順: 'favorites_count desc',いきたいの多い順: 'good_places_count desc',投稿が新しい順: 'updated_at desc',投稿が古い順: 'updated_at asc'}, { onchange: 'this.form.submit()'},class: "form-control") %>
							</div>
							<div class="col-md-12">
								<%= f.submit "並び替え",class: "btn col-md-12" %>
							</div>
						</div>
					<% end %>
				<% else %>
				<% end %>
			</div>
			<!-- タグ検索 -->
			<div class="search_index">
				<div class="page-sub-title">タグ検索</div>
				<%= render 'search_tag',{tags: @tags} %>
			</div>
			<!-- 国検索 -->
			<div class="post-index-country-search">
				<div class="page-sub-title">国名検索</div>
				<%= search_form_for @search,url: posts_path,class: "form-inline" do |f| %>
					<%= f.country_select :country_cont, {format: :with_alpha2 , priority_countries:["JP"] , include_blank: "------"}, class: "form-control post-country-search" %>
					<%= f.submit "検索",id:"search_submit",class: "btn post-country-search" %>
				<% end %>
			</div>
			<!-- ランキング -->
			<div class="post-index-rank">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ランキング上位</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<% @post_ranks.first(3).each do |post| %>
									<div class="post-box">
										<div class="post-content">
											<%= link_to post_path(post) do %>
												<div class="content-top">
													<div class="slick_index">
														<% post.post_images.each do |image| %>
															<div class="slick_index_image">
																<%= attachment_image_tag(image,:image ,:fill ,200,200) %>
																<div class="post-favorite">
																	<i class="fas fa-heart" style="color: red;"></i>
																	<%= post.favorites.count %>
																</div>
															</div>
														<% end %>
													</div>
												</div>
												<div class="content-bottom">
													<div class="post-title">
														<%= post.title %>
													</div>
													<div class="post_place">
														<span>【場所】</span>
														<% if post.prefecture.present? %>
															<%= post.prefecture %>
														<% else %>
															<%= post.city %>
														<% end %>
													</div>
													<div class="post-time">
														<%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								<% end %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 一覧表示 -->
		<!-- テンプレート化 -->
		<div class="col-md-9">
			<% if @search_products %>
				<div id="search_products">
					<div class="row post_more">
						<%= render 'search_products',{search_products: @search_products} %>
					</div>
				</div>
				<div class="post-index-more">
					<%= link_to_next_page(@search_products, 'もっと見る', remote: true, id: 'more_link',class: "post-more-show")%>
				</div>
			<% else %>
				<%= render 'post_index', {posts: @posts} %>
				<div class="pagenation row">
				</div>
			<% end %>
			<div id="top-scroll" data-turbolinks="false">
				<a href="#page-top-link" id="page-top"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
			</div>
		</div>
	</div>
</div>