<h2>投稿一覧ページ</h2>

<%= link_to "+",new_post_path %>

<!-- 一覧ソート機能 -->
<%= search_form_for @search, url:search_posts_path,html: {method: :post} do |f| %>
	<%= f.select( :sorts,{並び替え: 'id asc',いいねの多い順: 'favorites_count desc',いきたいの多い順: 'good_places_count desc',投稿が新しい順: 'updated_at desc',投稿が古い順: 'updated_at asc'}, { onchange: 'this.form.submit()'} ) %>
	<%= f.submit %>
<% end %>

<!-- 一覧表示 -->
<% @posts.each do |post| %>
	<%= attachment_image_tag(post.post_images[0],:image,:fill, 200, 200) %>
	<%= post.title %>
	<%= link_to "詳細",post_path(post) %>
	<i class="fas fa-heart" style="color: red;"></i>
	<%= post.favorites.count %>
<% end %>