<div class="container-fluid">

	<div data-turbolinks="false" class="post_new_button">
		<%= link_to "+",new_post_path,class: "btn btn-primary rounded-circle post_new",alt: "新規投稿" %>
	</div>

	<div class="row">
		<!-- 一覧表示 -->
		<!-- テンプレート化 -->
		<div class="col-md-9 mr-p ml-0">
			<div class="page-sub-title">
				<% if params[:tag_id] %>
					<%= @tag.tag_name %>一覧
				<% else %>
					投稿一覧ページ
				<% end %>
			</div>
			<% if @search_products %>
				<div id="search_products">
					<div class="row post_more">
						<%= render 'search_products',{search_products: @search_products} %>
					</div>
					<div class="post-index-more">
						<%= link_to_next_page(@search_products, 'もっと見る', remote: true, id: 'more_link',class: "post-more-show")%>
					</div>
				</div>
			<% else %>
				<%= render 'post_index', {posts: @posts} %>
				<div class="pagenation row">
				</div>
			<% end %>
			<div id="top-scroll" data-turbolinks="false">
				<a href="#page-top-link" id="page-top"><i class="fas fa-arrow-circle-up fa-4x"></i></a>
			</div>
		</div>
		<div class="col-md-2 index-slidebar">
			<!-- タグ検索 -->
			<div class="search_index">
				<% if @search_products %>
				<a class="search_tag search_index_toggle" href="#">タグ検索</a>
				<div class="search_index_detail">
					<div class="search_tag_toggle"><%= render 'search_tag',{tags: @tags} %></div>
				</div>
				<% end %>
			</div>
			<div class="search_sort">
			<!-- 一覧ソート機能 -->
				<% if @search_products %>
				<a class="search_tag search_index_toggle" href="#">並び替え</a>
					<div class="search_index_detail">
					<%= search_form_for @search, url:posts_path do |f| %>
						<div class="row">
							<div class="col-md-12">
								<%= f.select( :sorts,{並び替え: 'id asc',いいねの多い順: 'favorites_count desc',いきたいの多い順: 'good_places_count desc',投稿が新しい順: 'updated_at desc',投稿が古い順: 'updated_at asc'}, { onchange: 'this.form.submit()'},class: "form-control") %>
							</div>
							<div class="col-md-12">
								<%= f.submit "並び替え",class: "btn col-md-12" %>
							</div>
						</div>
					<% end %>
					</div>
				<% else %>
				<% end %>
			</div>
			<!-- 国検索 -->
			<div class="post-index-country-search">
				<% if @search_products %>
				<a class="search_tag search_index_toggle" href="#">国名検索</a>
				<div class="search_index_detail">
					<%= search_form_for @search,url: posts_path,class: "form-inline" do |f| %>
						<%= f.country_select :country_cont, {format: :with_alpha2 , priority_countries:["JP"] , include_blank: "------"}, class: "form-control post-country-search" %>
						<%= f.submit "検索",id:"search_submit",class: "btn post-country-search" %>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>