<div class="container">
<h2>詳細画面</h2>

<div class="row">
	<div class="col-md-6">
		<%= attachment_image_tag(@post.post_images[0],:image,class: "post-image-main") %>
		<h4>投稿一覧</h4>
		<p>(クリックすると切り替わります)</p>
		<div class="row">
			<% @post.post_images.each do |image| %>
				<div class="post_show_image col-md-3">
					<%= attachment_image_tag(image,:image ,class: "post-image-select") %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="page-sub-title">タイトル</div>
			<div class="sub-content-show"><%= @post.title %></div>
		<div class="page-sub-title">場所</div>
			<div class="sub-content-show"><%= @post.location %></div>
		<div class="page-sub-title">説明</div>
			<div class="sub-content-show"><%= @post.body %></div>
		<div class="page-sub-title">タグ</div>
		<% @post.tags.each do |tag| %>
			<div class="tag-show"><%= tag.tag_name %></div>
		<% end %>
		<div class="page-sub-title">投稿者</div>
		<div class="sub-content-show"><%= link_to @post.user.name,user_path(@post.user_id) %>
			<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
		</div>

		<!-- コメント一覧 -->
		<div id="comment_area">
			<%= render 'user/comments/comment_index',{post: @post, comments: @comments } %>
		</div>

		<!-- コメント -->
		<div>
			<%= render 'user/comments/comment_form',{post: @post, comment: @comment } %>
		</div>

		<!-- いいねの表示 -->
		<div id="favorite-<%= @post.id %>">
			<%= render 'user/favorites/favorite', post: @post %>
		</div>
		<!-- いいね -->

		<!-- 行きたいの表示 -->
		<div id="good_place-<%= @post.id %>">
			<%= render 'user/good_places/good_place', post: @post %>
		</div>

		<div class="post-delete">
			<% if @post.user_id == current_user.id %>
				<%= link_to "削除",post_path, method: :delete, data: {confirm: "本当に削除しますか？"},class: "btn btn-primary" %>
			<% end %>
		</div>

		<div class="post-alert">
			<!-- alert表示 -->
			<% if @post.alerted_by?(current_user) %>
				<%= link_to post_alerts_path(@post.id), method: :delete,class: "btn btn-danger" do %>
					管理者に報告中
				<% end %>
			<% else %>
				<%= link_to post_alerts_path(@post.id), method: :post,class: "btn btn-primary" do %>
					管理者に報告する
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<%= link_to "一覧画面", posts_path,class: "btn btn-primary" %>

</div>