<div class="container">
<h2>詳細画面</h2>

<div class="row">
	<div class="col-md-6">
		<% @post.post_images.each do |image| %>
			<div class="post_show_image">
				<%= attachment_image_tag(image,:image ,:fill ,200,200) %>
			</div>
		<% end %>
	</div>
	<div class="col-md-6">
		<h4>タイトル</h4>
		<%= @post.title %>
		<h4>場所</h4>
		<%= @post.location %>
		<h4>説明</h4>
		<%= @post.body %>
		<h4>タグ</h4>
		<% @post.tags.each do |tag| %>
			<%= tag.tag_name %>
		<% end %>
		<h4>投稿者</h4>
		<%= link_to @post.user.name,user_path(@post.user_id) %>

		<!-- コメント一覧 -->
		<div id="comment_area">
			<%= render 'user/comments/comment_index',{post: @post, comments: @comments } %>
		</div>

		<!-- コメント -->
		<div>
			<%= render 'user/comments/comment_form',{post: @post, comment: @comment } %>
		</div>

		<!-- いいねの表示 -->
		<div id="favorite-<%= @post.id %>">
			<%= render 'user/favorites/favorite', post: @post %>
		</div>
		<!-- いいね -->

		<!-- 行きたいの表示 -->
		<div id="good_place-<%= @post.id %>">
			<%= render 'user/good_places/good_place', post: @post %>
		</div>

		<div class="post-delete">
			<% if @post.user_id == current_user.id %>
				<%= link_to "削除",post_path, method: :delete, data: {confirm: "本当に削除しますか？"},class: "btn btn-primary" %>
			<% end %>
		</div>

		<div class="post-alert">
			<!-- alert表示 -->
			<% if @post.alerted_by?(current_user) %>
				<%= link_to post_alerts_path(@post.id), method: :delete,class: "btn btn-primary" do %>
					管理者に報告中
				<% end %>
			<% else %>
				<%= link_to post_alerts_path(@post.id), method: :post,class: "btn btn-primary" do %>
					管理者に報告する
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<%= link_to "一覧画面", posts_path,class: "btn btn-primary" %>

</div>