<h2>ユーザ詳細</h2>

<%= attachment_image_tag(@user,:image, :fill, 200, 200) %>

<label>利用者ID</label>
<%= @user.id %>
<label>名前</label>
<%= @user.name %>
<label>出身</label>
<%= @user.country %>
<label>メールアドレス</label>
<%= @user.email %>
<label>利用者ステータス</label>
<% if @user.user_status == true %>
	<label>有効</label>
<% else %>
	<label>無効</label>
<% end %>

<%= link_to "編集",edit_admin_user_path(@user) %>