<div class="container">
<h2>スケジュール一覧</h2>

<div class="row schdule_content">
	<div class="col-md-4">
		<h3>予定作成</h3>
		<!-- スケジュール作成ホーム -->
		<%= form_for(@schedule) do |f| %>
		<div class="content-top-margin_10">
			<%= f.label :content, '旅行先',class: "m-0" %>
			<%= f.text_field :content,placeholder: "旅行先を入力してください",class: "form-control" %>
			<% if @schedule.errors.include?(:content) %>
	    		<span style="color: red;"><%= @schedule.errors.full_messages_for(:content).first %></span>
			<% end %>
		</div>

		<div class="content-top-margin_10">
			<%= f.label :start_day, '出発日',class: "m-0" %>
			<%= f.date_field :start_day,class: "form-control" %>
			<% if @schedule.errors.include?(:start_day) %>
	    		<span style="color: red;"><%= @schedule.errors.full_messages_for(:start_day).first %></span>
			<% end %>
		</div>

		<div class="content-top-margin_10">
			<%= f.label :end_day, '帰着日',class: "m-0" %>
			<%= f.date_field :end_day,class: "form-control" %>
			<% if @schedule.errors.include?(:end_day) %>
	    		<span style="color: red;"><%= @schedule.errors.full_messages_for(:end_day).first %></span>
			<% end %>
		</div>

		<div class="submit content-top-margin_10">
			<%= f.submit "登録する",class: "btn btn-primary" %>
		</div>
		<% end %>

		<!-- スケジュールの一覧を表示 -->
		<div class="schedule_calender">
		<h3>スケジュール</h3>
			<% @schedules.each do |schedule| %>
				<% end_day = 0 %>
				<% end_day = (schedule.end_day - Date.today).numerator %>
				<% if end_day.to_i > 0 %>
					<div class="schedule-index">
						<div class="schdule-title">
							<%= schedule.content %>
						</div>
						<div class="limit_day">
						<i class="fas fa-plane-departure" style="color: skyblue;"></i><%= schedule.start_day %>
						<i class="fas fa-plane-arrival" style="color: skyblue;"></i><%= schedule.end_day %>
							<% limit_day = 0 %>
							<% limit_day = (schedule.start_day - Date.today).numerator %>
						</div>
						<div class="limit_day_message">
							<% if limit_day.to_i >= 1 %>
								<span><%= schedule.content %>まで<%= limit_day %>日!!</span>
							<% elsif limit_day.to_i <= -1 %>
								<span></span>
							<% else %>
								<span><%= schedule.content %>楽しんできてください!!</span>
							<% end %>
						</div>
						<%= link_to "削除", schedule_path(schedule),method: :delete,class: "btn btn-danger p-0" %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="col-md-8">
		<!-- カレンダーの表示 -->
		<div id="calendar"></div>
	</div>
</div>
</div>