<div class="container">
<h2>編集</h2>

<%= form_for(@notice,url: admin_notice_path) do |f| %>
	<div class="row">
		<div class="col-md-4">
			<%= attachment_image_tag(@notice,:image,size:"200x200", fallback: "no_image.jpg") %>
			<%= f.attachment_field :image,id: "notice_image_preview" %>
		</div>
		<div class="col-md-8">
			<%= f.label :title, "タイトル" %>
			<%= f.text_field :title,class: "form-control" %>
			<%= f.label :body, "内容" %>
			<%= f.text_area :body,class: "form-control" %>
			<%= f.label :status, "公開設定" %>
			<%= f.radio_button :status,true,checked: true %>
			<%= f.label :status,"公開",value: true %>
			<%= f.radio_button :status,false %>
			<%= f.label :status,"非公開",value: false %>
			<div class="submit">
				<%= f.submit "投稿",class: "btn" %>
			</div>
		</div>
	</div>
<% end %>
</div>