<div class="container">
<h2>一覧画面</h2>

<div data-turbolinks="false">
	<%= link_to "+",new_admin_notice_path,class: "btn btn-primary rounded-circle float-right" %>
</div>

<% @notices.each do |notice| %>
<table class="table table-hover border">
	<thead>
		<tr>
			<th>タイトル</th>
			<th>アップデート日</th>
			<th>公開状況</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= notice.title %></td>
			<td><%= notice.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
			<td>
				<% if notice.status == true %>
					<label>公開中</label>
				<% else %>
					<label>非公開</label>
				<% end %>
			</td>
			<td><%= link_to "詳細へ", admin_notice_path(notice) %></td>
		</tr>
	</tbody>
</table>
<% end %>

<%= paginate @notices %>
</div>