<!DOCTYPE html>
<html>
  <head>
    <title>NextTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- fontawosome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>


  <body>

  <!-- 検索ボックス -->
  <%= search_form_for @search,url: posts_path do |f| %>
    <%= f.label :location,"場所" %>
    <%= f.search_field :location_cont %>
  <%= f.submit "検索" %>
  <% end %>


    <%= yield %>
  </body>
</html>
