<!DOCTYPE html>
<html>
  <head>
    <title>NextTrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap btn-toggle -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    <!-- fontawosome -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- full-calender -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>


  <body>
    <div id = "wrapper">
    <header id="page-top-link">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <% if user_signed_in? %>
          <%= link_to 'NextTrip' ,root_path,class: "navbar-brand" %>
        <% elsif admin_signed_in?%>
          <%= link_to 'NextTrip' ,admin_top_path,class: "navbar-brand" %>
        <% else %>
          <%= link_to 'NextTrip' ,root_path,class: "navbar-brand" %>
        <% end %>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto" data-turbolinks="false">
            <% if user_signed_in? %>
            <li><%= link_to '投稿一覧',posts_path,class: "nav-link" %></li>
            <li><%= link_to '新規投稿',new_post_path,class: "nav-link" %></li>
            <li><%= link_to "日本地図検索",japan_map_path,class: "nav-link" %></li>
            <li><%= link_to 'マイページ',user_path(current_user.id),class: "nav-link" %></li>
            <li><%= link_to 'ログアウト',destroy_user_session_path,method: :delete,class: "nav-link" %></li>
            <!-- 検索ボックス -->
            <%= search_form_for @search,url: posts_path,class: "form-inline my-2 my-lg-0" do |f| %>
              <%= f.search_field :country_or_prefecture_or_location_or_city_or_body_or_tags_tag_name_cont,id: "search_box",class: "form-control mr-sm-2" %>
              <%= f.submit "検索",id:"search_submit",class: "btn my-2 my-sm-0" %>
            <% end %>
            <% elsif admin_signed_in?%>
            <li><%= link_to 'ユーザ一覧',admin_users_path,class: "nav-link" %></li>
            <li><%= link_to 'タグ作成',admin_tags_path,class: "nav-link" %></li>
            <li><%= link_to 'お知らせ',admin_notices_path,class: "nav-link" %></li>
            <li><%= link_to 'ログアウト',destroy_admin_session_path,method: :delete,class: "nav-link" %></li>
            <% else %>
            <li><%= link_to 'NextTripとは',root_path(anchor: "about"),class: "nav-link" %></li>
            <li><%= link_to '人気の投稿',root_path(anchor: "ranking"),class: "nav-link" %></li>
            <li><%= link_to '新規会員登録',new_user_registration_path,class: "nav-link" %></li>
            <li><%= link_to 'ログイン',new_user_session_path,class: "nav-link" %></li>
            <li><%= link_to 'ユーザゲストログイン', users_guest_sign_in_path, method: :post,class: "nav-link" %></li>
            <li><%= link_to '管理者ゲストログイン', admins_guest_sign_in_path, method: :post,class: "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <% if flash[:notice] %>
          <div class="alert alert-success mb-0"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
          <div class="alert alert-danger mb-0"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="footer">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
          <p class="ml-auto copy-right">©Next-Trip.co</p>
      </nav>

    </footer>
  </div>
  </body>
</html>
